body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    /* background: radial-gradient(gray,black); */
    height:1;
    background-color: #c9c7c7;
}
header{
    background: rgb(0, 5, 46);
    border-bottom: 4px solid rgb(6, 185, 255);
    color: #eee;
    min-height: 70px;
}
.container{
    width:900px;
    margin: auto;
}
#firstLetter{
    font-size:25px;
}
#logo{
    float: left;
    margin-top: 20px;
    margin-left: 20px;
    font-weight: 1000;
}
ul#menu{
    margin-top: 35px;
    list-style: none;
    float: right;
}
header li{
    display: inline;
    margin-left:20px;
    margin-right: 10px;
}
header li a{
    text-decoration: none;
    color: #ccc;
    transition: all 0.2s ease-in-out;
}
header li a:hover{
    color: #eee;
    transition: all 0.1s ease-in-out;
}
.box{
    width:420px;
    height:310px;
    background-color: rgb(0, 5, 46);
    margin: 40px auto;
    border: 3px solid rgb(42, 106, 165);
    border-radius: 0px 0px 25px 25px;
    padding:10px;
}
#title{
    font-size: 25px;
    text-align: center;
    width: 120px;
    height: 30px;
    margin: 0 auto;
    color: #ddd;
    font-weight: 1000;
}
#to_phone{
    padding: 5px;
    width: 400px;
    height: 17px;
    margin: 0px auto;
    border: 2px solid rgb(42, 106, 165);
    border-radius: 10px;
    outline: none;
}
#message{
    width: 400px;
    padding: 5px;
    border: 2px solid rgb(42, 106, 165);
    border-radius: 10px;
    outline: none;
}
#send{
    padding: 5px;
    background-color: yellowgreen;
    outline: none;
    border: 1px solid black;
    height: 35px;
    width: 80px;
    border-radius: 5px;
    font-size: 15px;
    margin-left: 150px;
}
#send:hover{
    color: yellow;
    background: green;
    transition: all 0.2s ease-in-out;
}

footer{
    height: 20px;
}
#copyright{
    font-size: 12px;
    width:250px;
    margin: auto;
    color:#444;
}