body{
    margin: 0;
    background: radial-gradient(gray,black);
    height:1;
}

.box{
    width:420px;
    height:300px;
    background-color: rgb(255, 238, 0);
    margin: 100px auto;
    border: 3px solid brown;
    border-radius: 20px;
    padding:10px;
}
#title{
    font-size: 25px;
    background: greenyellow;
    text-align: center;
    width: 120px;
    height: 30px;
    margin: 0 auto;
}
#to_phone{
    padding: 5px;
    width: 400px;
    height: 17px;
    margin: 0px auto;
    border: 2px solid brown;
    border-radius: 10px;
    outline: none;
}
#message{
    width: 400px;
    padding: 5px;
    border: 2px solid brown;
    border-radius: 10px;
    outline: none;
}
#send{
    padding: 5px;
    background-color: yellowgreen;
    outline: none;
    border: 1px solid black;
    height: 35px;
    width: 80px;
    border-radius: 10px;
    font-size: 15px;
    margin: 0 auto;
}
#send:hover{
    color: yellow;
    background: green;
    transition: all 0.2s ease-in-out;
}